<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a>Hello</a>
<div th:each="us : ${user}">
    <a th:href="@{/user/{id}(id=${us.getId()})}" th:text="${us.getId()}"></a>
    <a th:text="${us.getName()}"    ></a>
    <a th:text="${us.getSurname()}" ></a>
    <a th:text="${us.getAge()}"     ></a>
    <a th:href="@{/user/{id}/edit(id=${us.getId()})}"><input type="submit" value="Uptate" /></a>
    <a th:href="@{/user/delete/{id}(id=${us.getId()})}"><input type="submit" value="Delete" /></a>
<!--    <form th:method="delete" th:action="@{/user/{id}(id=${us.getId()})}">-->
<!--        <input type="submit" value="Delete"/>-->
<!--    </form>-->

</div>
<div>
    <form th:action="@{/user/new}" th:object="${user}">
        <input type="submit" value="Add new person!"/>
    </form>
</div>
</body>
</html>